*.dat
bookmarks
auto-save-list/.saves-10181-derondembp.local~
auto-complete/popup.elc
auto-complete/fuzzy.elc
auto-complete/auto-complete.elc
auto-complete/auto-complete-config.elc
*.elc
.*
eshell/history
eshell/lastdir
